<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

    <div class="form-row">
        <div class="form-group col-md-4">
          <label style="color:red;">Trader Category ID:</label>
         <input>
         </div>
        <div class="form-group  col-md-4">
            <label  style="color:red;">Market ID:</label>
            <input>
          </div>
    </div>

  <input type="hidden" name="Trader_ID" #Trader_ID="ngModel" [(ngModel)]="service.formData.trader_ID">
  <div class="form-group">
    <label style="color:black;">Trader Name:</label>
    <input name="Trader_Name" #Trader_Name="ngModel" [(ngModel)]="service.formData.trader_Name" class="form-control" required>
    <div class="validation-error" *ngIf="Trader_Name.invalid && Trader_Name.touched">This field is required.</div>
  </div>
  <div class="form-group">
    <label style="color:black;">Trader Address:</label>
    <input name="Trader_Address" #Trader_Address="ngModel" [(ngModel)]="service.formData.trader_Address" class="form-control">
    <div class="validation-error" *ngIf="Trader_Address.invalid && Trader_Address.touched">This field is required.</div>
  </div>
  <div class="form-group col-md-3">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>